/* Base */
body {
	background-color: #111111;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	margin: 0;
}

header {
	background-color: #222222;
	overflow: hidden;
	text-align: center;
	position: sticky;
	top: 0;
}

footer {
	background-color: #222222;
	overflow: hidden;
	text-align: center;
}

article {
	max-width: 60rem;
	margin: auto;
	padding: 2rem;
	padding-top: 4rem;
	flex: 1;
}

h1 {
	font-size: 4rem;
	margin: 0rem;
	color: white;
	font-family: sans-serif;
}

h2 {
	font-size: 2rem;
	color: lightgray;
	font-family: sans-serif;
}

h3 {
	font-size: 2rem;
	margin: 0rem;
	color: lightgray;
	font-family: sans-serif;
}

p {
	font-size: 1rem;
	color: lightgray;
	font-family: sans-serif;
}

/* Special, code blocks */
.code {
	padding: 1rem;
	border-radius: 1rem;
	background-color: #000000;
}

.code h1 {
	font-size: 1rem;
	margin: 0rem;
	color: #888888;
	font-family: monospace;
}

.code h2 {
	font-size: 0.9rem;
	margin: 0rem;
	color: #aa6677;
	font-family: monospace;
}

.code p {
	font-size: 1rem;
	color: #aa6677;
	font-family: monospace;
}

/* Special, home page */
.post-area {
	max-width: 50rem;
	margin: auto;
	padding: 2em;
	padding-top: 1rem;
	/* TODO: add a container that does the padding for me instead*/
		width: 100%;
		/* Or, to account for your padding */
		width: calc(100% - 4rem);
	  
	flex: 1;
}

.posts {
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

a.post:link, a.post:visited {
	text-decoration: none;
	color: white;
	background-color: #000000;
	padding: 1rem;
	border-radius: 1rem;
}

a.post:hover {
	text-decoration: underline;
	color: grey;
	background-color: #000000;
	padding: 1rem;
	border-radius: 1rem;
}

a.post:active {
	text-decoration: underline;
	color: white;
	background-color: #000000;
	padding: 1rem;
	border-radius: 1rem;
}

/* Special, home page article */
.post h1 {
	font-size: 1.5rem;
}

.post h3 {
	font-size: 1rem;
}

/* Archive side panel */
@media screen and (max-width: 400px) {
	.navbar a {
	  float: none;
	  width: 100%;
	}
  }

