body {
	background-color: #111111;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
	margin: 0;
}

header {
	background-color: #222222;
	overflow: hidden;
	text-align: center;
	position: sticky;
	top: 0;
}

footer {
	background-color: #222222;
	overflow: hidden;
	text-align: center;
}

article {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	padding-top: 60px;
	flex: 1;
}

.code {
	padding: 10px;
	border-radius: 10px;
	background-color: #000000;
}

h1 {
	font-size: 60px;
	margin: 0px;
	color: white;
	font-family: sans-serif;
}

.code h1 {
	font-size: 16px;
	margin: 0px;
	color: #888888;
	font-family: monospace;
}

h2 {
	font-size: 30px;
	color: lightgray;
	font-family: sans-serif;
}

.code h2 {
	font-size: 14px;
	margin: 0px;
	color: #aa6677;
	font-family: monospace;
}

h3 {
	font-size: 20px;
	margin: 0px;
	color: lightgray;
	font-family: sans-serif;
}

p {
	font-size: 16px;
	color: lightgray;
	font-family: sans-serif;
}

.code p {
	font-size: 14px;
	color: #aa6677;
	font-family: monospace;
}
